* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: "Microsoft YaHei", 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}